.text-primary {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.text-secondary {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #A1A6BE;
}

.text-bold {
    font-weight: 700;
}