.indicator {
    height: 14px;
    width: 14px;
    border-radius: 5px;

    &--1 {
        background: linear-gradient(141.65deg, #43E9FF 22.09%, #00ABAB 67.48%), #646981;
    }

    &--2 {
        background: linear-gradient(124.04deg, rgba(182, 26, 255, 0.5) -6.27%, rgba(0, 26, 255, 0.5) 98.36%), #656CFF;
    }
}

.list-square {
    &__item {
        display: flex;
        margin-bottom: 22px;

        &__square {
            margin-right: 20px;
            position: relative;
            top: 3px;
        }

        &__title {
            margin-bottom: 8px;
        }

        &__subtitle {
            margin-bottom: 1px;
        }
    }
}